<ul>
  <li>
    <strong><%= flat.name %></strong>
  </li>

  <li>
    <%= flat.address %>
  </li>

  <li>
    <i class="fa-solid fa-users"></i> <%= flat.number_of_guests %>
    <i class="fa-solid fa-euro-sign"> </i><%= flat.price_per_night %>
  </li>

  <li>
    <%# <%= link_to "More info", flat_path(@flat) %>
  </li>
</ul>
